#map {
    height: 230px;
    width: 230px;
}

.restaurantName{

font-size: 20px;

}

.restaurantImage{
height: 200px;
width: 200px;

}

.restaurantAddress{

font-size: 15px;

}

.restaurantPhone{




}