#logo {
    height: 35px;
}

body {
    background-color: #f4faff;
    font-family: 'Lato', sans-serif;
}


#map {
    height: 400px;
    max-width: 100%;
    margin-bottom: 10px;
}

.callout.secondary {
    margin: 0 15px;
}

.restaurantName {
    font-size: 20px;
}

.restaurantImage {
    max-height: 250px;
    max-width: 250px;
}

.restaurantAddress {
    font-size: 15px;
}

#date {
    font-size: 24px;
}


.center {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 20px;
    margin: 0 auto 15px;
    width: 250px;
    background-color: #7574743d;
}

#copyright {
    text-align: center;
}

.hidden {
    display: none;
}