#logo {
    height: 35px;
}

body {
    background-color: #f4faff;
    font-family: 'Lato', sans-serif;
}

.top-bar, .top-bar ul {
    background-color: transparent;
}

#page-heading {
    text-align: center;
}

label {
    margin-bottom: 15px;
    font-size: 20px;
}

#map {
    height: 560px;
    max-width: 750px;
    margin: 10px auto;
}

#share-location {
    background-color: #0267c1;
}

#share-location:focus, #share-location:hover {
    background-color: #034e91;
}

.callout.secondary {
    margin: 0 auto;
    max-width: 600px;
}

#searchBar {
    margin: 0;
}

#searchButton {
    background-color: #f4743b;
}

#searchButton:focus, #searchButton:hover {
    background-color: #df551a;
}

.button, .columns p {
    margin: 0;
}

#middle-row {
    margin: 15px 0;
}

.restaurantName {
    font-size: 20px;
}

.restaurantImage {
    max-height: 250px;
    max-width: 250px;
}

.restaurantAddress {
    font-size: 15px;
}

#date {
    font-size: 24px;
}

#weather {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    border: solid 1px transparent;
    border-radius: 20px;
    margin: 25px auto;
    width: 250px;
    background-color: #7574743d;
}

#copyright {
    text-align: center;
    font-weight: 700;
}

#attribute-icons {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 4px;
    font-size: 12px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 900px) {
    #map {
        height: 400px;
    }
}